body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:693px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:249px;
  width:30px;
  height:40px;
}
#u255_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:243px;
  width:45px;
  height:23px;
  color:#FF0000;
}
#u256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:231px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u257 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:276px;
  width:259px;
  height:231px;
}
#u257_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:239px;
  word-wrap:break-word;
}
#u258_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:436px;
  width:30px;
  height:40px;
}
#u258_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:430px;
  width:45px;
  height:23px;
  color:#FF0000;
}
#u259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:47px;
  width:34px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
